{{page-title "Products"}}
{{outlet}}
<main>
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for with the best shopping experieice.</p>

  <h2>The Products List</h2>
{{#each this.products as |productItem|}}
<ProductListing @product={{productItem}}></ProductListing>
{{/each}}
</main>